@font-face {
    font-family: "Lemon-milk";
    src: url('../fonts/lemon-milk-regular.ttf') format('truetype');
    font-weight: 0 800;
    font-style: normal;
}
@font-face {
    font-family: "Lemon-milk-light";
    src: url('../fonts/lemon-milk-light.ttf') format('truetype');
    /* font-weight: 0 800; */
    /* font-style: light; */
}
@font-face {
    font-family: "Lemon-milk-medium";
    src: url('../fonts/lemon-milk-medium.ttf') format('truetype');
    /* font-weight: 0 800; */
    /* font-style: light; */
}
@font-face {
    font-family: "Lemon-milk-bold";
    src: url('../fonts/lemon-milk-bold.ttf') format('truetype');
    /* font-weight: 0 800; */
    /* font-style: light; */
}
/* @font-face {
    font-family: "League Spartan";
    src: url('../fonts/League Spartan.ttf') format('truetype');
    
} */

* {
    box-sizing: border-box;
}

html {
    --primary-text: #08201E;
    --secondary-text: #ffffff;
    /* --text-link-before: #005C46; */
    --main-background: #CFFFFC;
    --button-color: #25540E;
    --icon-border: #002C1A;
    --zodiac-blurb: #00300B; 
    --lemon-regular: Lemon-milk, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    --lemon-light: Lemon-milk-light, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    --lemon-medium: Lemon-milk-medium, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    --lemon-bold: Lemon-milk-bold, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    --league-spartan: 'League Spartan', Calibri, 'Trebuchet MS', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

/* .character {
    display: none;
}  */
.white {
    color: var(--secondary-text);
    line-height: 20px;
}
/* .grass img {
    margin-top: 20vh;
    width: 100%;
    height: auto;
} */

.main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* align-items: center; */

}
.left, .left-character {
    margin-left: 3rem;
    margin-top: 8rem;
}
#back-home {
    font-size: 18px;
    color: var(--button-color);
    display: none;
    cursor: pointer;
    text-decoration: underline;
    position: relative;
    z-index: 1000;
    margin-left: 3rem;
    margin-top: 2rem;
    /* 
    margin-left: 3rem; */
    /* margin-top: -22rem; */
}

body {
    background-color: var(--main-background);
}
h1, h2, h3  {
    color: var(--primary-text);
    line-height: 41px;
}
p {
    font-family: var(--league-spartan);
}
.lemon-regular {
    font-family: var(--lemon-regular);
}
.lemon-light {
    font-family: var(--lemon-light);
}
.lemon-medium {
    font-family: var(--lemon-medium);
}
.lemon-bold {
    font-family: var(--lemon-bold);
}
/* .title {
    margin-top: 8rem;
    margin-left: 3rem;
} */

label, input {
    font-family: var(--league-spartan);
}
button {
    background-color: var(--button-color);
    color: var(--secondary-text);
    /* margin-left: 3rem; */
}

/* .help_icon {
    margin-top: 50vh;
} */

.find-my-character {
    padding: 1rem 4rem;
    border-radius: 20px;
    border: none;
    font-size: 1rem;
    margin-top: 1rem;
}

.find-my-character:hover {
    font-style: normal;
    animation: overshoot 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
}
@keyframes overshoot {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1); 
    }
    
    100% {
        transform: scale(1); 
    }
}

.sign {
    background: none;
    border: none;
    display: block;
    position: relative;
}

.icon-container {
    position: relative;
    z-index: 100;
    width: 30rem;
    height: 30rem;
    margin: 3rem 3rem 5rem 3rem;
    justify-content: center;
    justify-items: center;


    display: grid;
    grid-template-areas:
    /* ".      ponyo mononoke   totoro     .    " 
    "noface  .        .      .         sophie  " 
    "howl .        .   .         chihiro" 
    "yubaba   .        .      .         kiki" 
    ".      moro     haku satsuki .    "; */

    ".      ponyo mononoke   totoro     .    " 
    "noface  .        .      .         sophie  " 
    "howl .        spin   .         chihiro" 
    "yubaba   .        .      .         kiki"
    ".      moro     haku satsuki .    ";
    grid-template-columns: repeat(5, 20%); 
    grid-template-rows: repeat(5, 20%); 
    gap: 2rem; 
}

.icon {
    transition: transform 1s ease; /* Add transition effect */
}

.icon:hover {
    box-shadow: 0 0 10px rgba(14, 101, 49, 0.648);
    border-radius: 50%;
}
.sign {
    background-color: none;
}
.ponyo-icon {
    grid-area: ponyo;
    bottom: 2px;
    right: 54px;
}
.mononoke-icon {
    grid-area: mononoke;
    bottom: 2px;
    right: 54px;
}
.totoro-icon {
    grid-area: totoro;
    bottom: 2px;
    right: 54px;
}
.noface-icon {
    grid-area: noface;
    bottom: 2px;
    right: 54px;
}
.sophie-icon {
    grid-area: sophie;
    bottom: 2px;
    right: 54px;
}
.howl-icon {
    grid-area: howl;
    bottom: 2px;
    right: 54px;
}
.satsuki-icon {
    grid-area: satsuki;
    bottom: 2px;
    right: 54px;
}
.chihiro-icon {
    grid-area: chihiro;
    bottom: 2px;
    right: 54px;
}
.yubaba-icon {
    grid-area: yubaba;
    bottom: 2px;
    right: 54px;
}
.kiki-icon {
    grid-area: kiki;
    bottom: 2px;
    right: 54px;
}
.moro-icon {
    grid-area: moro;
    bottom: 2px;
    right: 54px;
}
.haku-icon {
    grid-area: haku;
    bottom: 2px;
    right: 54px;
}
.blurb {
    background-color: var(--zodiac-blurb);
    font-family: var(---league-spartan);
    padding: 2vh 3vh;
    color: var(--secondary-text);
    border-radius: 16px;
    margin-top: 1rem;
}
.character-title-date {
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-template-areas: "character-title . character-date" 
}
.character-title {
    grid-area: character-title;
}
.character-date {
    grid-area: character-date;
}



.popup {
    cursor: pointer;
    margin-top: 19.5rem;
}

.popup-text {
    display: none;
    font-family: var(--league-spartan);
    width: 44vw; /* Adjust width as needed */
    background-color: var(--zodiac-blurb);
    color: var(--secondary-text);
    text-align: left;
    border-radius: 8px;
    padding: 1rem 3rem 1rem 3rem;
    line-height: 28px;
    
    position: absolute;
    z-index: 101;
    top: 50px; /* Adjust distance from the top */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.popup-text.show {
    display: block;
}

.character {
    display: grid;
    grid-template-columns: 500px 300px;
    grid-gap: 10rem; /* Gap between grid items */
    max-width: 1000px; /* Set a maximum width to prevent it from stretching too wide */
    margin: 0 auto; /* Center the container horizontally */
}

.right-character {
    height: 540px;
    /* background-color:#72b18c;
    border-radius: 14px; */
}

/* .no-bg {
    background-color: none;
} */